body 
{ 
    font-family: Arial,Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
	
}

.corp {	
     width: 90%;
     margin: auto;
     overflow: hidden;
    }

	
	
#back {
     min-height:500px;
	 margin-top:10px;
}


article#fback {
     
	 margin-left:20px;
	 margin-right:20px;
     padding: 10px 25px 20px 25px;
     border: 12px solid #ccc;
	 margin-bottom:20px;
     margin-top:20px;
     box-shadow: 0 0 25px;
    }

article#fback h1 {
     color:#000080;
	 font-family: 'Arvo', serif;
     text-align: center;
	 font-size:30px;
     font-weight: bold;
}
article#fback h2 {
     margin-left:10px;
}

article#fback input {
     margin: 9px 3px 20px 40px;
	 cursor: pointer;
}

article#fback h3 {
	 font-size: 1.5em;
     margin-left:10px;
}

article#fback h4 {
	 font-size: 1.5em;
     margin-left:10px;
}

