body {
    font-family: Arial,Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    min-width: 640px;
}


.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#titlestuff ul {
    margin: 0;
    padding: 0;
}

header {
    background: #000000;
    background-image: url("blackbackground3.jpg");
    color: #ffffff;
    padding-top: 30px;
    min-height: 140px;
}

    header a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
    }

    header ul {
        margin: 0;
        padding: 0;
    }

    header li {
        display: inline;
        padding: 0 10px 0 10px;
    }

    header #titlestuff {
        text-align: center;
        background-color: cadetblue;
        border-radius: 60%;
        font-family: 'Modern No. 20';
        color: #ffffff;
    }

        header #titlestuff h1 {
            margin-top: 5px;
            margin-bottom: 50px;
        }

    header nav {
        float: left;
        margin-top: 10px;
    }

    header a:hover {
        color: #ffd800;
        font-wight: bold;
        text-decoration: overline;
    }

    header hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin top:0;
        margin bottom:0;
    }

div.elem-group {
    margin: 40px 0;
}

label {
    display: block;
    font-family: 'Aleo';
    padding-bottom: 4px;
    font-size: 1.25em;
}

input, select, textarea {
    border-radius: 2px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Aleo';
    width: 500px;
    padding: 8px;
}

textarea {
    height: 250px;
}

button {
    height: 50px;
    background: green;
    color: white;
    border: 2px solid darkgreen;
    font-size: 1.25em;
    font-family: 'Aleo';
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        border: 2px solid black;
    }

#copyright footer {
    color: #000000;
    background: #e9e9e9;
}

    #copyright footer p {
        font-family: 'Times New Roman';
        font-size: 16px;
        text-align: center;
        color: #6f6f6f;
    }