body {
    font-family: Arial,Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    min-width: 640px;
}


.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#titlestuff ul {
    margin: 0;
    padding: 0;
}

header {
    background: #000000;
    background-image: url("blackbackground3.jpg");
    color: #ffffff;
    padding-top: 30px;
    min-height: 140px;
}

    header a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
    }

    header ul {
        margin: 0;
        padding: 0;
    }

    header li {
        display: inline;
        padding: 0 10px 0 10px;
    }

    header #titlestuff {
        text-align: center;
        background-color: cadetblue;
        border-radius: 60%;        
        font-family: 'Modern No. 20';
        color: #ffffff;
    }

        header #titlestuff h1 {
            margin-top: 5px;
            margin-bottom: 50px;
        }

    header nav {
        float: left;
        margin-top: 10px;
    }

    header a:hover {
        color: #ffd800;
        font-weight: bold;
        text-decoration: overline;
    }

    header hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin top:0;
        margin bottom:0;
    }

#presentation {
    min-height: 100px;
    color: #ffffff;
    background: #000000;
    background-image: url("blackbackground3.jpg");
}

    #presentation h1 {
        margin-top: 20px;
        font-size: 30px;
        margin-bottom: 10px;
    }

    #presentation p {
        font-size: 20px;
    }

article#aboutme {
    text-align: left;
    float: left;
    width: 50%;
    margin-top: 120px;
    border: inset;
    padding: 0.5%;
    padding-top: 30px;
    margin-bottom: 20px;
    background-image: url("blackbackground3.jpg");
}

    article#aboutme img {
        float: left;
        padding-right: 20px;
        width: 200px;
        height: 200px;
        border-radius: 30%;
    }

aside#skills {
    background-image: url("blackbackground3.jpg");
    float: right;
    width: 40%;
    margin-top: 10px;
    line-height: 1.3;
    border: inset;
    padding: 1%;
    margin-bottom: 40px;
}

    aside#skills h2 {     
        font-size: 30px;
        margin-bottom: 10px;
    }

    aside#skills p {
        font-size: 17px;
    }


#workexperience {
    color: #000000;
    background-image: url("stylebackground1.jpg");
    background-size: 100% 100%;
}

article#firms {
    background: #cbd385;
    background-image: url("stylebackground5.jpg");
    background-size: 100% 100%;
    color: #ffffff;
    text-align: left;
    float: left;
    width: 50%;
    margin-top: 60px;
    padding: 0.5%;
    padding-top: 30px;
    margin-bottom: 20px;
    border: inset;
}

    article#firms h3 {
        color: #7eef68;
        font-size: 20px;
    }

    article#firms h2 {
        font-size: 24px;
        font-wight: bold;
    }

    article#firms h1 {
        font-size: 16px;
    }

    article#firms ul {
    }

    article#firms li {
        color: #ffffff;
        font-weight: bold;
        background-image: url("stylebackground5.jpg");
        background-size: 100% 100%;
    }

    article#firms hr {
        height: 10px;
        border: 50px;
        border-top: 1px solid #000000;
    }


article#myinterests {
    background: #cbd385;
    background-image: url("stylebackground5.jpg");
    background-size: 100% 100%;
    color: #ffffff;
    text-align: left;
    float: left;
    width: 50%;
    margin-top: 60px;
    padding: 0.5%;
    padding-top: 30px;
    margin-bottom: 20px;
    border: inset;
}

    article#myinterests h1 {
        font-size: 25px;
    }

aside#computerskills {
    background-color: #000000;
    background-image: url("stylebackground5.jpg");
    color: #ffffff;
    float: right;
    width: 40%;
    margin-top: 70px;
    line-height: 1.3;
    border: inset;
    padding: 1%;
    margin-bottom: 40px;
}

    aside#computerskills h2 {
        font-size: 24px;
        font-weight: bold;
        margin-left: 25px;
    }

    aside#computerskills #basic {
        color: #f4fb55;
    }

    aside#computerskills #advanced {
        color: #f5d621;
    }

aside#training {
    background-color: #000000;
    background-image: url("stylebackground5.jpg");
    color: #ffffff;
    float: right;
    width: 40%;
    margin-top: 10px;
    line-height: 1.3;
    border: inset;
    padding: 1%;
    margin-bottom: 40px;
}

    aside#training h2 {
        color: #7eef68;
        font-size: 15px;
    }

    aside#training h1 {
        font-size: 25px;
    }

    aside#training h3 {
        font-size: 17px;
    }

aside#education {
    background-color: #000000;
    background-image: url("stylebackground5.jpg");
    color: #ffffff;
    float: right;
    width: 40%;
    margin-top: 10px;
    line-height: 1.3;
    border: inset;
    padding: 1%;
    margin-bottom: 40px;
}

    aside#education h2 {
        color: #7eef68;
        font-size: 15px;
    }

    aside#education h1 {
        font-size: 25px;
    }

    aside#education h3 {
        font-size: 17px;
    }

#copyright footer {
    color: #000000;
    background-color: #e9e9e9;
}

    #copyright footer p {
        font-family: 'Times New Roman';
        font-size: 16px;
        text-align: center;
        color: #6f6f6f;
    }
